$breakpoint: 620px;

@import "./product-container";
@import "./product-image";
@import "./product-details";
@import "./button";

body {
  font-family: "Montserrat", sans-serif;
  background: hsl(30, 38%, 92%);
  color: hsl(228, 12%, 48%);
  font-weight: 550;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
