main {
    width: 375px;
    overflow: hidden;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

    div {
      img {
        width: 100%;
      }
    }

    
  }